{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
    <div class="section">
        {% if cart_items %}
            <div class="columns mt-6">
                <div class="column is-9">
                    <div class="columns is-multiline">
                        {% for cart_item in cart_items %}
                            <div class="column is-4">
                                <div class="card has-text-centered" style="min-height: 550px">
                                    <div class="card-image">
                                        <img src="{{ cart_item.food.photo.url }}" alt="" width="100%" height="100%">
                                    </div>

                                    <div class="title is-3">
                                        {{ cart_item }}
                                    </div>
                                    <div class="subtitle is-5">Цена : {{ cart_item.food.price }}</div>
                                    <div class="subtitle is-5">
                                        Количество {{ cart_item.quantity }}
                                    </div>

                                    <div class="quantity ml-3">
                                        <a
                                                href="{% url 'delivery:edit_cart_item' cart_item.pk %}?action=increment">
                                            <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                                            <lord-icon
                                                    src="https://cdn.lordicon.com/xsdtfyne.json"
                                                    trigger="hover"
                                                    colors="primary:#121331"
                                                    style="width:35px;height:35px">
                                            </lord-icon>
                                        </a>
                                        <a

                                                href="{% url 'delivery:edit_cart_item' cart_item.pk %}?action=decrement">
                                            <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                                            <lord-icon
                                                    src="https://cdn.lordicon.com/rxufjlal.json"
                                                    trigger="hover"
                                                    colors="primary:#121331"
                                                    style="width:35px;height:35px">
                                            </lord-icon>
                                        </a>
                                    </div>
                                    <div class="title is-5">Общая сумма {{ cart_item.total_price }} sum</div>
                                    <a style="color: black; font-size: 20px"
                                       href="{% url 'delivery:delete_cart_item' cart_item.pk %}">
                                        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                                        <lord-icon
                                                src="https://cdn.lordicon.com/kfzfxczd.json"
                                                trigger="hover"
                                                colors="primary:#121331"
                                                style="width:40px;height:40px">
                                        </lord-icon>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="column has-text-centered">
                    {% if cart_items %}
                        <div style="border-left:1px solid black;border-bottom:1px solid black; min-height: 200px">
                            <a class="button" href="{% url 'delivery:create_order' %}">Оформить заказ
                                <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
                                <lord-icon
                                        src="https://cdn.lordicon.com/hyhnpiza.json"
                                        trigger="hover"
                                        colors="primary:#121331"
                                        style="width:30px;height:30px">
                                </lord-icon>
                            </a>
                            <div class="title mt-5 is-5">Продуктов: {{ total_quantity }}</div>
                            <div class="title is-5">Всего: {{ total_price }} сум</div>
                        </div>
                    {% endif %}

                </div>
            </div>
        {% else %}
            <div class="columns is-centered">
                <div class="column is-6">
                    <div class="title is-2 has-text-centered">Корзина пуста(((</div>
                    <img
                         src="https://vsememy.ru/kartinki/wp-content/uploads/2023/03/1637102846_3-papik-pro-p-grustnii-kotenok-risunok-3.png"
                         alt="">

                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}